<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <h1 class="title">Andrew J. Groves</h1>

    <div id="menu">
      <a href="/about">About</a>
      <a href="/works">Projects</a>
    </div>
    <img
      src="https://images.squarespace-cdn.com/content/v1/5d35bcba6ec4e00001187036/1565274758734-06FRKD9E0A2VIYYTS8Q7/Andrew-9052SML.jpg?format=1500w"
      alt="Andrew Groves"
    />
  </body>
</html>
