<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="title">Andrew J. Groves</h1>

    <div id="menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
    <section id="works">
      <iframe
        src="https://www.youtube.com/watch?v=3Qks7En_na0"
        width="420"
        height="315"
      ></iframe>
      <iframe
        src="https://www.youtube.com/watch?v=DPgOctu6qlc"
        width="420"
        height="315"
      ></iframe>
      <iframe
        width="420"
        height="315"
        src="https://www.youtube.com/watch?v=4U-WoT9IAuU"
      ></iframe>
    </section>
  </body>
</html>
